<!-- MACRO SIDE -->

{% macro generate_badge(value) %}
  {% set badge_classes = {
    'bot': 'warning',
    'economy': 'success',
    'stream': 'danger',
    'social': 'secondary',
    'games': 'info'
  } %}
  <span class="badge bg-{{ badge_classes[value] }}-subtle border border-{{ badge_classes[value] }}-subtle text-{{ badge_classes[value] }}-emphasis rounded-pill">{{ value }}</span>
{% endmacro %}

{% macro generate_switch(value, name) %}
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switch-{{name}}" {{ 'checked' if value == 1 else '' }}>
    <label class="form-check-label" for="switch-{{name}}"></label>
  </div>
{% endmacro %}

{% macro generate_switch(value, name) %}
  {% if value == 1 %} 
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switch-{{name}}" checked>
    <label class="form-check-label" for="switch-{{name}}"></label>
    </div>
  {% else %}
    <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switch-{{name}}">
    <label class="form-check-label" for="switch-{{name}}"></label>
    </div>
  {% endif %}
{% endmacro %}

{% macro generate_buttons(id) %}
<button type="button" id="open-edit-form-btn-{{id}}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
  </svg>
</button>

<button type="button" id="open-delete-form-btn-{{id}}" class="btn btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
  </svg>
</button>
{% endmacro %}

{% macro generate_standard_table_row(msg) %}
  <tr>
    <td>{{ message['prefix'] }}{{ msg['name'] }}</td>
    <td>{{ msg['description'] }}</td>
    <td>{{ msg['aliases'] }}</td>
    <td>{{ generate_badge(msg['category']).strip() }}</td>
    <td>{{ msg['used'] }}</td>
    <td>{{ generate_switch(msg['status'],msg['name']).strip() }}</td>
  </tr> 
{% endmacro %}

{% macro generate_user_table_row(msg) %}
  <tr>
    <td>{{ message['prefix'] }}{{ msg['name'] }}</td>
    <td>{{ msg['used'] }}</td>
    <td>{{ msg['cost'] }}</td>
    <td>{{ generate_badge(msg['category']).strip() }}</td>
    <td>{{ generate_switch(msg['status'],msg['name']).strip() }}</td>
    <td>{{ generate_buttons(msg['name']) }}</td>
  </tr>
{% endmacro %}

{% macro get_route() %}
  {{ request.url.path.split('/')[-1] }} 
{% endmacro %}

<!-- CONTENT SIDE -->
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h1>Commands</h1>
      <p>Here is a list of all the commands that are available to use with the bot.</p>
    </div>
    <div class="col-12 mt-4 mb-4">
      <h3>Ready to use </h1>
    </div>
    <div class="col-12">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Command</th>
            <th scope="col">Description</th>
            <th scope="col">Aliases</th>
            <th scope="col">Category</th>
            <th scope="col">Used</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider"> 
          {% for msg in message['based'] %}
            {{ generate_standard_table_row(msg) }}
          {% endfor %} 
        </tbody>
      </table>
    </div>
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col">
          <h3>Created by user (Custom commands) </h1>
        </div>
        <div class="col  d-flex justify-content-end mb-4">
          <!-- Make a add command button on the right side of the div class -->
          <button type="button" id="open-form-btn" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"></path>
            </svg> Add command </button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Command</th>
            <th scope="col">Used</th>
            <th scope="col">Cost</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="user-commands" class="table-group-divider"> 
          {% for msg in message['dynamic'] %}
            {{ generate_user_table_row(msg) }}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Popup form -->
<div id="popup-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popupFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupFormLabel">Add command</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Error message display area -->
        <div id="form-error-message" class="alert alert-danger" style="display: none;"></div>
        <div id="form-success-message" class="alert alert-success" style="display: none;"></div>

        <form id="form-command">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
                  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z" />
                </svg>
              </span>
              <input type="hidden" class="form-control" id="update_type" name="update_type" value="user_cmd">
              <input type="text" class="form-control" id="name" name="name">
            </div>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" aria-label="Default select example">
              <option selected>Select category</option>
              <option value="bot">Bot</option>
              <option value="economy">Economy</option>
              <option value="finance">Finance</option>
              <option value="games">Games</option>
              <option value="social">Social</option>
              <option value="stream">Stream</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="cost" class="form-label">Cost</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                  <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"></path>
                </svg>
              </span>
              <input type="cost" class="form-control" id="cost" name="cost">
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Message</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          <button type="submit" id="add-command-form" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="popup-edit-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popupFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupFormLabel">Edit command</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Error message display area -->
        <div id="edit-error-message" class="alert alert-danger" style="display: none;"></div>
        <div id="edit-success-message" class="alert alert-success" style="display: none;"></div>

        <form id="edit-form-command">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
                  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z" />
                </svg>
              </span>
              <input type="hidden" class="form-control" id="update_type" name="update_type" value="update_cmd">
              <input type="text" class="form-control" id="name" name="name" readonly>
            </div>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" aria-label="Default select example">
              <option selected>Select category</option>
              <option value="bot">Bot</option>
              <option value="economy">Economy</option>
              <option value="finance">Finance</option>
              <option value="games">Games</option>
              <option value="social">Social</option>
              <option value="stream">Stream</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="cost" class="form-label">Cost</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                  <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"></path>
                </svg>
              </span>
              <input type="cost" class="form-control" id="cost" name="cost">
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Message</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          <button type="submit" id="add-command-form" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="popup-delete-form" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete command</h5>
              
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div id="delete-error-message" class="alert alert-danger" style="display: none;"></div>
          <div id="delete-success-message" class="alert alert-success" style="display: none;"></div>
          Are you sure you want to delete this command?
        </div>
        <form id="delete-form-command">
        <input type="hidden" class="form-control" id="delete-name" name="name" value="">
        <input type="hidden" class="form-control" id="update_type" name="update_type" value="delete_cmd">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" id="delete-command-form" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>

<script>
  event_listener_switch_butons("cmd", "status");
  event_listener_edit_buttons();
  
  form_edit_command();
  form_create_command();
  form_delete_command();

  handle_submit_form('#edit-form-command','#edit');
  handle_submit_form('#delete-form-command','#delete');
  handle_submit_form('#form-command','#form');
</script>

