<div class="container">
    <div class="main-body">
    
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ message['avatar']}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ message['user'].username.capitalize() }}</h4>
                      <!-- <button class="btn btn-danger">Ban</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Bot</h6>
                    {% if message['user'].bot == 1 %}
                    <span class="text-secondary"><button class="btn btn-success">Yes</button></span>
                    {% else %}
                        <span class="text-secondary"><button class="btn btn-danger">No</button></span>
                    {% endif %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Follower</h6>
                    {% if message['user'].follower == 1 %}
                    <span class="text-secondary"><button class="btn btn-success">Yes</button></span>
                    {% else %}
                        <span class="text-secondary"><button class="btn btn-danger">No</button></span>
                    {% endif %}
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Subscriber</h6>
                    {% if message['user'].subscriber == 1 %}
                    <span class="text-secondary"><button class="btn btn-success">Yes</button></span>
                    {% else %}
                        <span class="text-secondary"><button class="btn btn-danger">No</button></span>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ message['user'].username.capitalize() }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Income</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].income }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Message Sent</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].message_count }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gamble Time Lock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].gamble_lock }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Roll Time Lock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].roll_lock }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">RPG Time Lock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].rpg_lock }}
                    </div>
                  </div>

                  <hr>
        
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">SFX Time Lock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].sfx_lock }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Slots Time Lock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].slots_lock }}
                    </div>
                  </div>

                  <hr>

    
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ban Time</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].ban_time }}
                    </div>
                  </div>

                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Warnings</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ message['user'].warning }}
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>

        </div>
    </div>