<!-- MACRO SIDE -->

{% macro get_route() %}
  {{ request.url.path.split('/')[-1] }} 
{% endmacro %}

{% macro generate_buttons(type, id, category) %}
<button type="button" id="open-sfx" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="window.location.href='/sfx/{{id}}';">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
  </svg>
</button>


<button type="button" id="open-delete-form-btn-{{id}}" class="btn btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
  </svg>
</button>
{% endmacro %}

{% macro generate_table_row(msg) %}
  <tr>
    <td>{{ msg['name'] }}</td>
    <td>{{ msg['category'] }}</td>
    <td>{{ msg['description'] }}</td>
    <td>{{ generate_buttons(msg['type'], msg['name'], msg['category'].lower() ) }}</td>
  </tr> 
{% endmacro %}

<!-- CONTENT SIDE -->
<div class="container">
  <div class="row p-4 rounded">
    <div class="col-12 mt-4">
      <h1 style="font-family: 'Roboto', sans-serif;">
        SFX
      </h1>
      <p>Create and Configure your own SFX</p>
    </div>
    <div class="row">
      <div class="col">
        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse-slots-help" role="button" aria-expanded="false" aria-controls="collapseExample"> Help </a>
        </p>
        <div class="collapse" id="collapse-slots-help">
          <div class="card card-body">
            <p>
              <b> Name </b> - Name of your SFX group.
            </p>
            <p>
              <b> Category </b> - Category of your SFX group.
            </p>
            <p>
              <b> Description </b> - Description of your SFX group.
            </p>
            <p>
              <b> Status </b> - Status of your SFX group. (Active/Inactive)
            </p>
            <p>
              <b> Action </b> - Edit or Delete your SFX group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- If message['status'] is "success" show success bar --> 
    {% if message['status'] == "success" %} 
    <div class="alert alert-success  mb-4 mt-4" role="alert"> the content has been saved to the database </div> 
    {% endif %} 
    {% if message['status'] == "error" %} 
    <div class="alert alert-danger  mb-4 mt-4" role="alert"> {{ message['error'] }} </div> 
    {% endif %} 
  <!-- CONTENT SIDE -->
<div class="container">

  <div class="row">
    <div class="col-11">
    </div>  
    <div class="col-1">
      <button type="button" id="open-create-form-btn" class="btn btn-primary" >
        Add
      </button>
    </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-sm mt-4">
        <thead>
          <tr>
            <th scope="col" class="w-20">Name</th>
            <th scope="col" class="w-10">Category</th>
            <th scope="col" class="w-45">Description</th>
            <th scope="col" class="w-10">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider"> 
          {% for msg in message['sfx'] %}
          {{ generate_table_row(msg) }}
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Popup form -->
<div id="popup-create-form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popupFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupFormLabel">Add SFX Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Error message display area -->
        <div id="create-error-message" class="alert alert-danger" style="display: none;"></div>
        <div id="create-success-message" class="alert alert-success" style="display: none;"></div>

        <form id="create-sfx-form">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
                  <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z" />
                </svg>
              </span>
              <input type="hidden" class="form-control" id="update_type" name="update_type" value="add_sfx">
              <input type="text" class="form-control" id="name" name="name">
            </div>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" aria-label="Default select example">
              <option selected>Select category</option>
              <option value="Game">Game</option>
              <option value="Homemade">Homemade</option>
              <option value="Meme">Meme</option>
              <option value="TV">TV</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>
          <input type="hidden" class="form-control" id="status" name="status" value="1">
          <button type="submit" id="add-sfx-form" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="popup-delete-form" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete SFX Group</h5>
              
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div id="delete-error-message" class="alert alert-danger" style="display: none;"></div>
          <div id="delete-success-message" class="alert alert-success" style="display: none;"></div>
          Are you sure you want to delete this SFX Group?
        </div>
        <form id="delete-sfx-form">
        <input type="hidden" class="form-control" id="delete-name" name="name" value="">
        <input type="hidden" class="form-control" id="update_type" name="update_type" value="delete_sfx">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" id="delete-sfx-form" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>

<script>
  addEditButtonEventListeners();
  addSwitchButtonEventListeners("sfx", "status");
  addFormEventListeners();

  processForms(['create','delete'], 'sfx');
</script>

