    <div class="container overflow-scroll">
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
          <h2>Settings</h2>
        </div>
        <form novalidate method="post">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Tokens</h4>
              <div class="row g-3">
                <div class="col-12">
                  <label for="secret_token" class="form-label">Secret Token</label>
                  <input type="password" class="form-control" id="secret_token" name="secret_token" value="{{ message.secret_token }}" placeholder="" required>
                </div>

                <div class="col-12">
                    <label for="client_token" class="form-label">Client Token</label>
                    <input type="text" class="form-control" id="client_token" name="client_token" value="{{ message.client_token }}" placeholder="" required>
                </div>
            </div>
          </div> 
          <hr class="my-4">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Channel</h4>
              <div class="row g-3">

                <div class="col-12">
                  <label for="bot_name" class="form-label">Bot Name</label>
                  <input type="text" class="form-control" id="bot_name" name="bot_name" value="{{ message.bot_name }}" placeholder="" required>
                </div>

                <div class="col-12">
                    <label for="streamer_channel" class="form-label">Steamer Channel</label>
                    <input type="text" class="form-control" id="streamer_channel" name="streamer_channel" value="{{ message.streamer_channel }}" placeholder="" required>
                </div>

                <div class="col-12">
                    <label for="prefix" class="form-label">Prefix</label>
                    <input type="text" class="form-control" id="prefix" name="prefix" value="{{ message.prefix }}"  placeholder="" required>
                </div>

                <div class="col-12">
                    <label for="coin_name" class="form-label">Coin Name</label>
                    <input type="text" class="form-control" id="coin_name" name="coin_name" value="{{ message.coin_name }}" placeholder="" required>
                </div>

                <hr class="my-4">

                <div class="col-12">
                    <label for="default_income" class="form-label">Default Income</label>
                    <input type="text" class="form-control" id="default_income" name="default_income" value="{{ message.default_income }}"  placeholder="" required>
                </div>

                <div class="col-12">
                    <label for="default_timeout" class="form-label">Default Timeout</label>
                    <input type="text" class="form-control" id="default_timeout" name="default_timeout" value="{{ message.default_timeout }}"  placeholder="" required>
                </div>
              </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                <!-- Adding some marging -->
                <br>
                <br>
          </div>
        </form>
    </div>
