<div class="container-fluid">

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- A stylish and aesthetic Page Heading with Dashbard as title with some marge from the top -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Bot is not configured - So Alert card in red -->
        {% if message['bot_is_configured'] == False %}
        <div class="col-xl-12 col-md-12 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body text-center">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <h1 class="h3 mb-0 font-weight-bold text-gray-800">Your bot is not configured yet!</h1>
                            <br>
                            <a href="/settings" class="btn btn-primary">Configure</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
<!-- Follower Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs text-primary font-weight-bold mb-1">
                                Followers</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ message['followers_count'] }} </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscriber Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary  mb-1">
                                Subscribers
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">???</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Top Chatter -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger  mb-1">
                                Top Chatter</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><a href=/user/{{ message['top_chatter'] }}>{{ message['top_chatter'] }}</a></a></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Top Chatter -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success  mb-1">
                                Top Command</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">???</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        
    </div>
</div>