<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    
    <!-- Sidebar - Logo -->
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">DoggoBot</span>
    </a>

    <!-- Sidebar - Divider -->
    <hr>
    
    <!-- Sidebar - Navigation -->
    <ul class="nav nav-pills flex-column mb-auto">
      
      <!-- Sidebar - Home -->
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Home
        </a>
      </li>
      
      <!-- Sidebar - Chat -->
      <li>
        <a href="/chat" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/chat"></use></svg>
          Chat
        </a>
      </li>

      <!-- Sidebar - SFX -->
      <li>
        <a href="/sfx" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/sfx"></use></svg>
          SFX
        </a>
      </li>

      <!-- Sidebar - Curses -->
      <li>
        <a href="/curses" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/curses"></use></svg>
          Curses
        </a>
      </li>

      <!-- Sidebar - Commands -->
      <li>
        <a href="/commands" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/commands"></use></svg>
          Commands
        </a>
      </li>

      <!-- Sidebar - RPG -->
      <li>
        <a href="/rpg" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/sfx"></use></svg>
          RPG
        </a>
      </li>

      <!-- Sidebar - Mods -->
      <li>
        <a href="/mods" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/mods"></use></svg>
          Mods
        </a>
      </li>

      <!-- Sidebar - Gambling Games -->
      <li>
        <a href="/games" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/games"></use></svg>
          Gambling Games
        </a>
      </li>

      <!-- Sidebar - Settings -->
      <li>
        <a href="/settings" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/settings"></use></svg>
          Settings
        </a>
      </li>

    </ul>

    <!-- Sidebar - Divider -->
    <hr>

    <!-- Sidebar - Quit -->
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none">
        <!-- <img src="" alt="" width="32" height="32" class="rounded-circle me-2"> -->
        <strong>Quit</strong>
      </a>
    </div>
</div>

<div class="b-example-divider b-example-vr"></div>